---
import Card from "@/components/Card.astro";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const allNotes = Object.values(
    import.meta.glob("../../../notes/*.{md,mdx}", { eager: true })
  );

  return [
    { params: { tag: "go" }, props: { notes: allNotes } },
    { params: { tag: "java" }, props: { notes: allNotes } },
    { params: { tag: "workflow" }, props: { notes: allNotes } },
    { params: { tag: "database" }, props: { notes: allNotes } },
    { params: { tag: "interview" }, props: { notes: allNotes } },
  ];
}
const { tag } = Astro.params;
const { notes } = Astro.props;
const filteredNotes = notes.filter((note: any) =>
  note.frontmatter.tags.includes(tag)
);
---

<Layout>
  <div class="space-y-12">
    <h1 class="md:!text-5xl md:!leading-[1.2] text-uppercase">#{tag}</h1>
    {filteredNotes.length === 0 && <p>No posts found for this tag</p>}
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      {
        filteredNotes.map(({ frontmatter }: any) => (
          <Card
            imagePath={frontmatter.image}
            altText={frontmatter.imageAlt}
            name={frontmatter.title}
            date={frontmatter.pubDate}
            href={`/notes/${frontmatter.slug}`}
            large={false}
          />
        ))
      }
    </div>
  </div>
</Layout>
