---
import Card from "@/components/Card.astro";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const allNotes = Object.values(
    import.meta.glob("../../notes/*.md", { eager: true })
  );

  return [
    { params: { category: "go" }, props: { notes: allNotes } },
    { params: { category: "java" }, props: { notes: allNotes } },
    { params: { category: "workflow" }, props: { notes: allNotes } },
    { params: { category: "database" }, props: { notes: allNotes } },
    { params: { category: "interview" }, props: { notes: allNotes } },
  ];
}
const { category } = Astro.params;
const { notes } = Astro.props;
const filteredNotes = notes.filter((note: any) => note.data.tags.includes(category));
---

<Layout>
  <div class="space-y-12">
    <h1 class="md:!text-5xl md:!leading-[1.2] text-uppercase">#{category}</h1>
    {filteredNotes.length === 0 && <p>No posts found for this category</p>}
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      {
        filteredNotes.map((post: any) => (
          <Card
            imagePath={post.data.image}
            altText={post.data.imageAlt}
            name={post.data.title}
            category={post.data.category}
            date={post.data.pubDate.toDateString()}
            href={`/notes/${post.data.slug}`}
            large={false}
          />
        ))
      }
    </div>
  </div>
</Layout>
