---
import Link from "./Link.astro";
import Tag from "./Tag.astro";

interface Props {
  category?: string;
  title?: string;
  author?: string;
  date?: string;
  large?: boolean;
  href?: string;
  tags?: string[];
}

const { category, title, author, date, large, href, tags } = Astro.props;

const formattedDate = date
  ? new Date(date).toLocaleDateString("en-US", {
      year: "numeric",
      month: "long",
    })
  : "Unknown date";
---

<article class={`relative h-full ${large ? "md:flex" : ""}`}>
  <div
    class={`relative overflow-hidden rounded-lg ${large ? "md:w-1/2 aspect-[16/9]" : "aspect-[16/9]"}`}
  >
    {
      href ? (
        <Link href={href} className="block group">
          <div class="relative overflow-hidden rounded-lg">
            <div class="transition-transform transform group-hover:scale-105">
              <slot />
            </div>
            {large && (
              <div class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent" />
            )}
          </div>
        </Link>
      ) : (
        <slot />
      )
    }
  </div>
  <div class={`${large ? "md:w-1/2 md:p-6 mt-4" : "mt-4"}`}>
    <div class="text-sm font-medium text-emerald-500 mb-2">
      {category?.toLocaleUpperCase()}
    </div>
    <h2 class={`font-semibold mb-2 wrap ${large ? "md:text-2xl" : "text-md"}`}>
      {
        href ? (
          <Link href={href} className="hover:underline">
            {title}
          </Link>
        ) : (
          title
        )
      }
    </h2>
    <div class="flex items-center text-sm text-gray-400">
      <span>{formattedDate}</span>
    </div>
    <div class="flex flex-wrap mt-2">
      {tags?.map((tag) => <Tag key={tag} href={`/tags/${tag}`} value={tag} />)}
    </div>
  </div>
</article>
